.create-splash-intro-container {
  /* margin-right: 0.6rem; */
  display: flex;
  flex-direction: column;
}

.create-splash-intro-title-container {
  font-family: 'special-elite';
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  /* margin-bottom: 0.5rem; */
}

.create-splash-intro-text {
  text-align: center;
  /* margin-top: -2%; */
  /* text-indent: 30px; */
  font-family: 'merriweather';
  font-size: 0.9rem;
}