:root {
  --hue: 223;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
  --primary: hsl(var(--hue),90%,55%);
  --primary-l: hsl(var(--hue),90%,65%);
  --primary-d: hsl(var(--hue),90%,45%);
  --white: hsl(var(--hue),10%,100%);
  --white-d: hsl(var(--hue),10%,45%);
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); 
}

@font-face {
  font-family: 'CustomFont';
  src: url('../../fonts/MTD MagicIvy.otf') format('opentype');
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: antiquewhite;
  background-image: url('../../img/favpng_infinite-monkey-theorem3.png');
  background-position-x: 1000px;
  /* background-size: 60vw; */
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;

  /* object-fit: cover; */
  /* object-position: top; */
  /* width: 100vw;
  height: 100vw; */
}

/* .background-container {
  
  min-height: 100%;
  overflow-y: inherit;

  
} */

.app {
  min-width: 1300px;
  max-height: 100%;
  z-index: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

/* Global CSS stylers for StoryBook */

.create-page-container {
  display: grid;
  grid-template-rows: 10% 52% 38%;
  max-width: 80%;
  min-width: 1300px;
  min-height: 800px;
  margin: auto;
}

.nav-container {
  min-width: 900px;
}

.storybook-container {
  max-width: 1300px;
  display: flex;
  justify-content: center;
}