@font-face {
  font-family: 'CustomFont';
  src: url('../../fonts/MTD MagicIvy.otf') format('opentype');
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  width: 100vw;
  height: 100vw;
}

.app {
  background-image: url('../../img/favpng_infinite-monkey-theorem3.png');
  background-position-x: 50vw;
  background-size: 65vw;
  background-repeat: no-repeat;
  position: absolute;
  background-color: antiquewhite;
  z-index: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

/* .monkey-spinner {
  background-color: red;
  -webkit-mask-image: url('../../img/favpng_infinite-monkey-theorem.png');
  mask-image: url('../../img/favpng_infinite-monkey-theorem.png');
} */