.create-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: auto;
  width: 100%;
}

#start-story-button {
  margin: auto;
  width: fit-content;
}