/* our brand colours are white and #3b5998 */

.logout-button, .invite-button, .login-button {
  margin-right: 0.4rem;
  height: 2rem;
  margin-top: 0.6rem;
  background-color: #fff;
  opacity: 100%;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .2rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 100px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 30px 15px;
  border-top-right-radius: 15px 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'VT323';
  font-size: 1.3rem;
}

.logout-button:hover, .invite-button:hover, .login-button:hover {
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

:root {
  --primary: #3b5998;
  --secondary: white;
}

.header-nav-container {
  display: flex;
  justify-content: right;
  /* padding: 10px; */
  /* background-color: antiquewhite; */
}
  
.nav-button {
  display: block;
}

/* .nav-bar button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-bar button:hover {
    text-decoration: underline;
} */

