.publish-story-input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 2.5rem;
}

.publish-story-input-title-container {
  margin-right: 0.3rem;
  font-size: 1.5rem;
  line-height: 0.2rem;
  font-family: 'VT323';
}

.publish-story-input-button {
  background-color: white;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-family: 'merriweather';
  height: 50px;
  font-size: 90%;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  transition: all 150ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.publish-prompt-error-messages {
  font-family: 'VT323';
  font-size: 1.1rem;
  display: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.publish-story-input-button:hover {
  box-shadow: 0 0 5px 1px black;
}

.publish-story-text-input-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.publish-story-input-submit-container {
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish-story-input-button {
  font-family: 'VT323';
  font-size: 1.5rem;
  color: rgb(0, 255, 13);
}

.forbidden {
  max-height: 1.2rem;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

.publish-story-input-box {
  margin: auto;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  background-color: white;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-family: 'merriweather';
  height: 50px;
  font-size: 90%;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  transition: all 150ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  font-family: 'special-elite';
  font-size: 1.2rem;
}