.header-container {
  display: grid;
  position: relative;
  height: 11vh;
  grid-template-columns: 9% 35% 56%;
  min-width: 60vw;
  /* background-color: antiquewhite; */
}

.header-container.active {
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: antiquewhite;
  offset-position: 0% -100%;
  transition: 0.2s;
}

.home-button {
  margin-top: 0.5rem;
  width: 100%;
  background-color: antiquewhite;
  cursor: pointer;
  border: none;
}

.home-icon {
  height: 2.85rem;
  /* border-radius: 5px; */
}

.title-container {
  margin-top: 1rem;
}

/* .home-button:hover {
  background-color: #acacac31;
} */

.spacer {
  height: 1rem;
}