.header-container {
  display: grid;
  position: unset;
  top: unset;
  grid-template-columns: 9% 35% 56%;
  min-width: 60vw;
  transition: top 0.5s;
}

.header-container.scroll {
  position: sticky;
  top: 0;
  background-color: antiquewhite;
  /* offset-position: 0% -100%; */
  /* background-color: antiquewhite; */
  /* transition: 0.5s; */
}

.home-button {
  /* margin: 2%;
  width: 6%; */
  /* border-radius: 5px; */
  background-color: #ffffff00;
  /* background-color: #ffa500;or background-color: rgba(0, 0, 0, 0); */
  cursor: pointer;
  /* border: 0.5px solid #ffa500; */
  border: none;
}

.home-icon {
  height: 80px;
  /* border-radius: 5px; */
}

.title-container {
  margin-top: 24px;
}

/* .home-button:hover {
  background-color: #acacac31;
} */

.spacer {
  height: 1rem;
}