.rating-panel-container {
  height: 100%;
  border: dotted;
  background-color: green;
}

.rating-panel-grid {
  display: grid;
  grid-template-rows: 50% 50%;
}

.rating-container {
  border: dotted;
}

.rate-verb-container {
  height: fit-content;
  border: dotted;
  background-color: brown;
}

.rate-story-grid {
  display: grid;
  grid-template-columns: 30% 30% 40%;
}

.rate-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inc-arrows-grid {
  display: grid;
  grid-template-rows: 50% 50%;
}

.inc-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.vote-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-ticker {
  background-color: aquamarine;
}