/* .result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
  justify-content: center;
  width: 100%;
  padding-top: 1%;
  overflow: auto;
} */

.resultpage-title {
  margin-left: 0%;
  margin-bottom: 32px;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  font-size: 132%;
  white-space: nowrap;
}

/* .book-background {
  height: 100%;
} */

.page-container {
  display: grid;
  grid-template-rows: 50% 50%;
  max-width: 80%;
  min-width: 1300px;
  min-height: 800px;
  margin: auto;
}

.results-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 17% 63% 17%;
  min-width: 1200px;
}

.nav-container {
  min-width: 900px;
}

.storybook-container {
  /* max-width: 1500px; */
  display: grid;
  grid-template-columns: 45% 55%;
  /* justify-content: center; */
}

#previous-page-button {
  margin-right: 20px;
}

#next-page-button {
  margin-left: 50px;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.resultpage-buttons {
  margin-top: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.resultpage-submit-button {
  margin: 1%;
  width: 100%;
  padding: 10px;
  font-size: 68%;
  text-align: left;
  color: #ffffff;
  background-color: #2a2a2a48;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 0.5px solid #ffa500;
  white-space: nowrap;
}

.resultpage-submit-button:hover {
  background-color: #11111179;
}

/* .turn-page-button {
  display: inline;
} */

.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}