/* .result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
  justify-content: center;
  width: 100%;
  padding-top: 1%;
  overflow: auto;
} */

.resultpage-title {
  margin-left: 0%;
  margin-bottom: 32px;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  font-size: 132%;
  white-space: nowrap;
}

/* .book-background {
  height: 100%;
} */

.page-container {
  display: grid;
  grid-template-rows: 70% 30%;
}

.results-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.storybook-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.image-container {
  padding: 10px;
  margin-bottom: 10px;
}

.story-container {
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
  overflow-y: auto;
  height: auto;
  position: relative;
  padding: 10px;
}

.resultpage-buttons {
  margin-top: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.resultpage-submit-button {
  margin: 1%;
  width: 100%;
  padding: 10px;
  font-size: 68%;
  text-align: left;
  color: #ffffff;
  background-color: #2a2a2a48;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 0.5px solid #ffa500;
  white-space: nowrap;
}

.resultpage-submit-button:hover {
  background-color: #11111179;
}

/* .turn-page-button {
  display: inline;
} */

.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}