/* .result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
  justify-content: center;
  width: 100%;
  padding-top: 1%;
  overflow: auto;
} */

.resultpage-title {
  margin-left: 0%;
  margin-bottom: 32px;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  font-size: 132%;
  white-space: nowrap;
}

/* .book-background {
  height: 100%;
} */

.page-container {
  display: grid;
  grid-template-rows: 10% 52% 38%;
  max-width: 80%;
  min-width: 1300px;
  min-height: 800px;
  margin: auto;
}

.results-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 17% 63% 17%;
  min-width: 1200px;
}

.nav-container {
  min-width: 900px;
}

.storybook-container {
  /* max-width: 1500px; */
  display: grid;
  grid-template-columns: 45% 55%;
  /* justify-content: center; */
}

#previous-page-button {
  margin-right: 20px;
}

#next-page-button {
  margin-left: 50px;
}

.resultpage-button-container {
  padding-top: 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.resultpage-button {
  font-family: 'merriweather';
  height: 50px;
  font-size: 30px;
  margin: 10px;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.resultpage-button:hover {
  border-width: 4px;
  background-color: #b7ff00ef;
}

/* .turn-page-button {
  display: inline;
} */

.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}