/* .formcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;  
} */

.formcontainer-container {
    padding-top: 23%;
    display: grid;
    grid-template-rows: 23% 77%;
    margin-right: -5%;
}

.formcontainer-title {
    font-family: 'special-elite';
    color: black;
    font-weight: normal;
    font-size: 140%;
    text-align: center;
}

/* .formcontainer-submit-container{
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 220px;
} */



@keyframes fadeOut {
    0% {
      opacity: 1;
    }

    90% {
        opacity: 1;
      }

    100% {
      opacity: 0;
    }
}
  
.formcontainer-logo-gif {
    display: flex;
    align-items: center;
    animation: fadeOut 3s linear forwards;
}

.initialise-story-prompt-error {
    font-family: 'special-elite';
    font-size: 120%;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
}

.initialise-user-prompt-input-box {
    padding-left: 5px;
    background-color: white;
    text-align: left;
    width: 75%;
    border-radius: 5px;
    font-family: 'merriweather';
    height: 50px;
    font-size: 90%;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    transition: all 150ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
  }
  
  .initialise-user-prompt-input-container {
    width: 108%;
    display: flex;
    justify-content: space-around;
  }