.signup-form-container {
  display: grid;
  grid-template-rows: 50% 38%;
  margin-top: 35%;
  height: auto;
  width: 100%;
}

.signup-title {
  font-family: 'special-elite';
  font-size: 140%;
}

.countdown-notification-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: auto;
  width: auto;
}

.countdown-notification-text {
  margin-top: 11px;
  font-size: 25px;
  font-family: 'special-elite';
  width: 110%;
}

.user-input-box {
  margin: auto;
  padding-left: 5px;
  background-color: white;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-family: 'merriweather';
  height: 50px;
  font-size: 90%;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  transition: all 150ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.user-text-input {
  margin-bottom: 10%;
}

/* input.prepopulated  {
  color: red;
} */

.signup-form {
  display: grid;
  grid-template-rows: 15% 33% 25%;
  height: 355px;
}

.input-container {
  display: grid;
  grid-template-rows: 57% 35%;
  margin: auto;
}

.signup-submit-container {
  display: grid;
  grid-template-rows: 70% 30%;
  margin: auto;
}

#signup-submit-button {
  width: 100%;
  margin: auto;
}