.counter-container {
  font-family:'digital-7';
  display: grid;
  grid-template-columns: 38% 8% 38%;
  font-size: 35px;
  width: 100%;
  min-width: 100px;
  margin: auto;
}

/* .minutes {
  font-family:'digital-7';
}

.colon {
  font-family:'digital-7';
}

.seconds {
  font-family:'digital-7';
} */