.form-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-label {
    display: flex;
    padding-top: 18px;
    width: 32%;
    font-size: 100%;
    color: black;
    /* margin-bottom: 0px;
    margin-right: 0px; */
    white-space: nowrap;
    font-family: 'special-elite';
}

.form-label-container {
    width: 100%;
    border-radius: 4px;
}

.css-b62m3t-container {
    flex: 1 1 auto !important;
    font-size: 70% !important;
    width: 50% !important;
    font-family: 'merriweather';
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    transition: all 100ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.css-b62m3t-container:hover {
    border-color: rgb(8, 113, 8);
}

.react-select__control {
    background-color: white !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: centre !important;
    padding: 4px !important;
}
  
.react-select__value-container {
    /* flex: 1 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important; */
    border-radius: 5px;
    height: 50px;
    font-size: 30px;
    background-size: 4px 3px;
    /* background-color: #ffffff00; */
}

.react-select__value-container:hover {
    opacity: 90%;
    /* box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0); */
    border-color: black;
    border-width: 3px;
}
  
.react-select__single-value {
    color: #000000 !important;
    font-size: 22px !important;
}
  
.react-select__indicator-separator {
    display: none !important;
}
  
.react-select__indicator {
    color: #717171 !important;
}
  
.react-select__menu {
    width: 50%;
    border-width: 2px;
    background-color: white !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    margin-top: 4px !important;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}
  
.react-select__option {
    color: #1c1c1c !important;
    cursor: pointer !important;
    font-size: 90% !important;
    padding: 8px 12px !important;
}
  
.react-select__option:hover {
    background-color: #ffa500 !important;
}
  
.react-select__option--is-selected {
    background-color: #9d9d9d !important;
    color: #4a4a4a !important;
}


  

  