.storybook-browse-info-panel-container {
  display: flex;
  justify-content: center;
}

.storybook-browse-info-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 4vw;
}

.browse-info-pane-container {
  padding: 0.05vw;
}

.storybook-browse-title-container {
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  font-family: bungeespice-regular;
  text-shadow: 2px 2px black;
  border: dotted;
}

.star-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.browse-info-pane-container {
  font-family: 'Times New Roman', Times, serif;
  border: dotted;
}

.starring-span {
  font-family: codystar-regular;
  color: rgb(255, 0, 0);
  font-weight: 999;
}

.storybook-browse-info-panel-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;

  background-color: #fff;
  opacity: 98%;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 22px 255px 15px 15px 250px 225px 105px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .55rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 100px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 30px 15px;
  border-top-right-radius: 15px 5px;
}