.user-panel-container {
  display: flex;
  /* grid-template-columns: 60% 40%; */
  flex-direction: row;
  right: 0%;
  margin-top: 0.6rem;
  margin-right: 1rem;
  height: min-content;
  background-color: #fff;
  opacity: 98%;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 22px 255px 15px 15px 250px 225px 105px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .55rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 100px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 30px 15px;
  border-top-right-radius: 15px 5px;
  font-family: 'VT323';
  font-size: 1.5rem;
}

.credit-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.nut-count {
  width: max-content;
}

.peanut-credit {
  height: 1rem;
}