.splash-container {
  display: flex;
  flex-direction: column;
}

.splash-egg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.5rem;
}

.splash-egg {
  height: 4rem;
}

.splash-egg:hover {
  cursor: pointer;
}