.login-create-container {
  margin-top: 50%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.or-container {
  font-family: 'special-elite';
  font-size: 1.3rem;
}

.login-error-container {
  position: relative;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
  width: 100%;
}

.login-error {
  position: absolute;
  font-family: 'special-elite';
  font-size:0.9rem;
  font-weight: 450;
  display: flex;
  justify-content: center;
  align-items: center;
}