.login-create-container {
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.or-container {
  font-family: 'special-elite';
  font-size: 1.3rem;
  margin: auto;
}

.browse-button-container {
  /* padding: 0.8rem; */
  margin: auto;
}

.login-error-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
  width: 100%;
}

.login-error {
  position: absolute;
  font-family: 'special-elite';
  font-size:0.9rem;
  font-weight: 450;
  display: flex;
  justify-content: center;
  align-items: center;
}