.storybook-browse-info-panel-container {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
}

.storybook-browse-info-panel-grid {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 7vw;
  /* border: dotted; */
}

.edit-read-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.edit-container {
  padding: 0.05vw;
  display: flex;
  justify-content: center;
}

/* .rating-container {
  height: 4rem;
} */

.star-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  opacity: 98%;
}

.browse-info-pane-container {
  font-family: 'Raleway-Regular';
}

.browse-info-pane-filler {
  min-width: 3.5rem;
}

.starring-genre-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 85%;
}

.starring-container {
  font-family: 'codystar-regular';
  color: rgb(255, 0, 0);
  font-weight: 999;
  padding-right: 0.5rem;
}

.storybook-browse-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
  font-size: 2rem;
  font-family: 'bungeespice-regular';
  text-shadow: 2px 2px black;
  opacity: 98%;
  line-height: 1.4rem;
}

.new-container {
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0.3rem;
}

.new-border {
  background-color: #fff;
  opacity: 98%;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 22px 255px 15px 15px 250px 225px 105px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  font-family: Neucha, sans-serif;
  outline: none;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 100px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 30px 15px;
  border-top-right-radius: 15px 5px;
  padding: 0.3rem;
}

.new-text {
  font-family: 'bangers-regular';
  font-size: 2rem;
  color: rgb(255, 39, 39);
  /* opacity: 85%; */
}