.counter-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: 35px;
  width: 100%;
}

.minutes {
  font-family:'digital-7';
}

.colon {
  font-family:'digital-7';
  margin-left: 45%;
}

.seconds {
  font-family:'digital-7';
}