.create-control-nav-container {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  margin: 1%;
  min-height: 4.5rem;
}

.create-control-button-container {
  justify-self: start;
  display: flex;
  justify-content: space-around;
  opacity: 99%;
}