.splash-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-width: 1300px;
  /* height: 82vh; */
}

.splash-grid {
  width: 90%;
  display: grid;
  grid-template-columns: 70% 30%;
}