.terms-of-use-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: 2%; */
  max-width: 65%;
  height: 86vh;
  /* background-color: red; */
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 1%;
  border-style: ridge;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.terms-of-use-title-container {
  font-family: 'special-elite';
  font-size: 130%;
  text-align: center;
  text-decoration: underline;
}

.terms-of-use-text-container {
  text-align: left;
  margin-top: -1rem;
  padding: 0.2rem;
  font-family: 'merriweather';
  font-size: 90%;
  max-height: 65vh;
  overflow-y: auto;
}