.activation-container {
  display: flex;
  justify-content: space-around;
  min-width: 1300px;
}

.activation-grid {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* grid-template-columns: 60% 40%; */
}