.filter-nav-container {
  z-index: 0;
  transition: 0.3s;
  display: grid;
  grid-template-columns: 60% 40%;
}

.filter-nav-container.active {
  z-index: auto;
  position: sticky;
  background-color: antiquewhite;
}

/* .filter-nav-container.active-scroll {
  position: sticky;
  top: 4.8vw;
  z-index: 999;
} */

.button-container {
  justify-self: start;
  display: flex;
  justify-content: space-around;
  /* position: absolute; */
}

.button-container.active-scroll {
  color: bisque;
  opacity: 100%;
}

.user-fetch-button-container {
  justify-self: end;
}