.user-prompt-input-form {
  margin-top: 0.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-prompt-input-title {
  font-family: 'VT323';
  font-size: 1.5rem;
  margin-right: 0.4rem;
}

.user-prompt-input-button {
  padding-left: 5px;
  background-color: white;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-family: 'VT323';
  height: 50px;
  font-size: 1.5rem;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  transition: all 150ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.user-prompt-input-button:hover {
  box-shadow: 0 0 5px 1px black;
}

.user-prompt-input-button:disabled {
  background-color: rgb(255, 88, 88);
  box-shadow: 0 0 5px 2px rgb(255, 0, 0);
  opacity: 60%;
}

.user-prompt-input-button.active:hover {
  box-shadow: 0 0 5px 1px green;
  border-color: rgb(106, 197, 106);
}

.user-prompt-input-button.active {
  box-shadow: 0 0 5px 7px rgb(43, 255, 0);
  background-color: rgb(106, 197, 106);
  opacity: 100%;
}

.user-prompt-text-input-container {
  display: flex;
}

.user-prompt-input-submit-container {
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forbidden {
  max-height: 1.2rem;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

.user-prompt-input-box {
  margin: auto;
  padding-left: 5px;
  background-color: white;
  text-align: left;
  width: 100%;
  font-family: 'special-elite';
  height: 50px;
  font-size: 1rem;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  transition: all 150ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.user-prompt-error-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 0.2rem;
  font-family: 'special-elite';
}