.story-text {
    /* margin: 10px;
    width: 100%; */
    /* word-wrap: break-word; */
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
  
.story-container {
    align-items: baseline;
    padding: 10px;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    overflow-y: scroll;
    height: 380px;
    width: 100%;
    display: flex;
    /* align-items: start; */
    /* justify-content: left; */
  }

  .story-container::-webkit-scrollbar {
    display: none;
  }
