.story-text {
    /* margin: 10px;
    width: 100%; */
    /* word-wrap: break-word; */
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
  
.story-container {
    margin-left: 10px;
    justify-content: right;
    /* align-items: baseline; */
    padding: 10px;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    overflow-y: scroll;
    height: 373px;
    width: 106%;
    /* display: flex; */
    /* align-items: start; */
    /* justify-content: left; */
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 10% 1% 2% 4%;
  }

  .story-container::-webkit-scrollbar {
    display: none;
  }
