.results-container {
  /* background-color: green; */
  padding-top: 1vw;
  /* display: flex;
  justify-content: center; */
}

.storybook-container {
  width: 100%;
}

.next-page-container {
  padding: 1%;
  display: flex;
  justify-content: center;
  width: 8%;
  /* background-color: red; */
}