@font-face {
  font-family: 'special-elite';
  src: url("./fonts/SpecialElite-Regular.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'merriweather';
  src: url("./fonts/Merriweather-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-bold';
  src: url("./fonts/Merriweather-Black.ttf");
}

@font-face {
  font-family: 'digital-7';
  src: url("./fonts/digital-7.ttf");
}

@font-face {
  font-family: 'digital-dream';
  src: url("./fonts/Digital-Dream.ttf");
}

@font-face {
  font-family: 'cynatar';
  src: url("./fonts/Cynatar.otf");
}

@font-face {
  font-family: 'stalinist';
  src: url("./fonts/StalinistOne-Regular.ttf");
}

@font-face {
  font-family: 'smokum';
  src: url("./fonts/Smokum-Regular.ttf");
}

@font-face {
  font-family: 'rye';
  src: url("./fonts/Rye-Regular.ttf");
}

@font-face {
  font-family: 'flavors';
  src: url("./fonts/Flavors-Regular.ttf");
}

@font-face {
  font-family: 'major-mono';
  src: url("./fonts/MajorMonoDisplay-Regular.ttf");
}

@font-face {
  font-family: 'phage-rough';
  src: url("./fonts/Phage-Rough.otf");
}

@font-face {
  font-family: 'bungeespice-regular';
  src: url("./fonts/BungeeSpice-Regular.ttf");
}

@font-face {
  font-family: 'codystar-regular';
  src: url("./fonts/Codystar-Regular.ttf");
}

@font-face {
  font-family: 'codystar-light';
  src: url("./fonts/Codystar-Light.ttf");
}

.title {
  font-family: 'special-elite';
  font-size: 60px;
}

.submit-button {
  font-family: 'special-elite';
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 16%;
  width: 75%;
  min-width: 75%;
  padding: 20px;
  background-color: white;
  height: 50px;
  font-size: 100%;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.submit-button:hover {
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  border-width: 3px;
  text-decoration: underline;
}