.browse-nav-container {
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: auto;
  width: 100%;
}

#browse-button {
  margin: auto;
  width: fit-content;
}