.create-storybook-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-width: 1200px;
}

.storybook-container {
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}