.egg-container {
  margin: 1rem;
}

.egg {
  height: 5rem;
}

.egg:hover {
  cursor: pointer;
}

.warning-splash-container {
  padding: 5rem;
}

.warning-splash-grid {
  display: grid;
  grid-template-rows: 20% 80%;
}

.warning-splash-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 10% 90%; */
}

.warning-splash-text {
  font-family: 'special-elite';
  font-size: larger;
}

.wagging-finger {
  padding-right: 0.5rem;
  height: 10rem;
}

.warning-splash-body-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.standby-countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7rem;
}

.standby-container {
  margin: auto;
  font-family: 'special-elite';
  font-weight: 500;
  font-size: 1.5rem;
}

.countdown-container {
  margin: auto;
}

.egg-splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem;
}

.egg-intro-container {
  font-size: 2rem;
  font-family: 'special-elite';
  animation: fade-in ease 3s;
}
.click-egg-container {
  font-family: 'special-elite';
  animation: fade-in ease 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}