.egg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.egg {
  height: 5rem;
}

.egg:hover {
  cursor: pointer;
}

.warning-splash-container {
  padding: 5rem;
}

.warning-splash-grid {
  display: grid;
  grid-template-rows: 20% 80%;
}

.warning-splash-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 10% 90%; */
}

.warning-splash-text {
  font-family: 'special-elite';
  font-size: larger;
}

.wagging-finger {
  padding-right: 0.5rem;
  height: 10rem;
}

.warning-splash-body-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.standby-countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7rem;
}

.standby-container {
  margin: auto;
  font-family: 'special-elite';
  font-weight: 500;
  font-size: 1.5rem;
}

.countdown-container {
  margin: auto;
}