.filter-nav-container {
  width: 100%;
  background-color: green;
  transition: 0.3s;
}

.filter-nav-container.active {
  position: sticky;
  top: 0;
}

.filter-nav-container.active-scroll {
  position: sticky;
  top: 100px;
}