.filter-nav-container {
  width: 100%;
  background-color: green;
  transition: 0.5s;
}

.filter-nav-container.active {
  position: sticky;
  top: 0;
}

.filter-nav-container.active-scroll {
  position: sticky;
  background-color: red;
  margin-top: 50px;
}