.filter-nav-container {
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.filter-nav-container.active {
  position: sticky;
  top: 20px;
  opacity: 30%;
}

.filter-nav-container.active-scroll {
  position: sticky;
  top: 4.5vw;
  opacity: 80%;
}

.button-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 99%;
  position: absolute;
}