.welcome-panel-container {
  margin-top: 4vh;
  display: flex;
  align-items: center;
}

.welcome-panel-grid {
  display: grid;
  grid-template-rows: 20% 80%;
}

.welcome-title-container {
  font-family: 'special-elite';
  font-size: 130%;
  text-align: center;
  text-decoration: underline;
}

.welcome-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  text-align: center;
  margin-top: -1%;
  text-indent: 30px;
  font-family: 'merriweather';
  font-size: 0.85rem;
  width: 106%;
  /* overflow-y: auto; */
}