.welcome-panel-container {
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

.welcome-panel-grid {
  display: flex;
  flex-direction: column;
}

.welcome-title-container {
  font-family: 'special-elite';
  font-size: 130%;
  text-align: center;
  text-decoration: underline;
}

.welcome-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  text-align: center;
  margin-top: 1rem;
  text-indent: 30px;
  font-family: 'merriweather';
  font-size: 0.85rem;
  width: 106%;
  /* overflow-y: auto; */
}