.mobile-splash-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.typing-monkey-container {
  display: block;
  height: 0.5vh;
  margin-bottom: 2rem;
}

.mobile-splash-title {
  font-family: 'special-elite';
  font-size: 4vh;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.mobile-splash-text-container {
  font-family: 'Raleway-Regular';
  text-align: center;
  margin-bottom: 2rem;
}

.mobile-splash-page-cta {
  font-family: 'Raleway-Regular';
  text-align: center;
  margin-bottom: 2rem;
}

.mobile-splash-page-video-cta {
  font-family: 'Raleway-Regular';
  text-align: center;
  margin-bottom: 2rem; 
}

.spinning-monkey {
  height: 4rem;
  animation: spin 6s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg)
  }

  50% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(360deg)
  }
}

.mobile-splash-typing {
 height: 6rem; 
}