.mobile-splash-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-splash-title {
  font-family: 'special-elite';
  font-size: 4vh;
}

.mobile-splash-text-container {
  font-family: 'Raleway-Regular';
}