.text-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.text-input-input {
    text-align: left;
    margin: auto;
    width: 80%;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    height: 50px;
    font-size: 30px;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.text-input-label {
    color: rgb(255, 255, 255);
    font-size: 120%;
}
